
<h1>
  {{title}}
</h1>
<input #btn type="button" (click)="btnClick()" value="click me">
<div>
  <label>Fleet: </label>
  <select #fSelector>
    <option *ngFor="let f of fList" [value]="f">{{f}}</option>
  </select>
</div>
<div>
  <label>Vehicle: </label>
  <select #vSelector>
    <option *ngFor="let v of vList" [value]="v">{{v}}</option>
  </select>
</div>
<br />
<div class="">
  DataFrom: {{(dataFrom$ | async)?.name}}
</div>
<div *ngFor="let person of dataOf$ | async">
  DataOf: <label>{{person.name}}</label>
</div>
<div *ngFor="let fid of restOf$ | async">
  Unique FID: <label>{{fid}}</label>
</div>
<div *ngFor="let v of restFlatMap">
  Unique FID: <label>{{v.vid}}</label>
</div>

<div *ngFor="let v of vehicles">
  vehicle: <label>{{v.vid}}</label>
</div>
