h5 a:link, h5 a:hover, h5 a:visited, h5 a:active {
    text-decoration: none;
    color: white;
}


.panel-heading {
  background-color: black;
  border-radius: 0;
}


.ui-tieredmenu {
    width: 100%;
    padding: 0px;
}

.ui-menuitem {
    margin: 0px;
}

