<div class="full-height" id="accordion">
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/reactivex" routerLinkActive="active"><i class="fa fa-adjust"></i> ReactiveX </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/googlemap" routerLinkActive="active"><i class="fa fa-globe"></i> Google Map </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/exporter" routerLinkActive="active"><i class="fa fa-print"></i> Exporter </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/chart" routerLinkActive="active"><i class="fa fa-bar-chart"></i> Chart </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/table" routerLinkActive="active"><i class="fa fa-table"></i> Table </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a routerLink="/gauge" routerLinkActive="active"><i class="fa fa-tachometer"></i> Gauge </a>
    </h5>
  </div>
  <div class="card">
    <h5 class="card-header panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> 
            <i class="fa fa-list"></i> Tiered Menu
        </a>
    </h5>
    <div id="collapseFive" class="collapse">
      <div class="card-block p-0">
        <p-tieredMenu [model]="items"></p-tieredMenu>
      </div>
    </div>
  </div>
  <div class="card full-height">
    <div class="card-header panel-heading full-height">
    </div>
  </div>
</div>