<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Google Map
      </div>
      <div class="card-block">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" 
          [streetViewControl]=false [zoomControl]=false>
          <!--<agm-marker [latitude]="lat" [longitude]="lng" [label]="'M'"></agm-marker>-->
          <agm-marker *ngFor="let m of markers"
            [latitude]="m.lat" [longitude]="m.lng"
            [label]="m.label" [title]="m.title" 
            [markerDraggable]="m.draggable" [iconUrl]="m.icon">
          </agm-marker>
          <agm-polyline [polylineDraggable]=false 
            [strokeColor]="red" [strokeOpacity]="0.5" [strokeWeight]="5">
            <agm-polyline-point *ngFor="let m of markers"
              [latitude]="m.lat" [longitude]="m.lng">
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
  </div>
</div>