// @import 'src/styles';

a {
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: #007bff;
}

// .nav {
//     display:table;
//   }
  
// .nav > li{
//     width: auto;
//     display:table-cell;
// }