<div>
  <button (click)="export()">Export</button>
  <div style="display:block;">
  <!--<div>-->
  <canvas #chartOne baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [width]="barWidth"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  <canvas #chartTwo baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [width]="barWidth"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
   <canvas #chartThree baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [width]="barWidth"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
   <canvas #chartFour baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [width]="barWidth"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>