<div class="row m-4">
  <div class="col d-flex justify-content-around">
    <button type="button" class="btn btn-primary shadow-sm" (click)="reload()">
      <i class="fa fa-refresh"></i>
    </button>
    <button type="button" class="btn btn-primary shadow-sm" (click)="stop()">
      <i class="fa fa-stop"></i>
    </button>
    <ng-container *ngIf="playing$ | async; then pauseBtn; else playBtn">
    </ng-container>
    <ng-template #pauseBtn>
      <button type="button" class="btn btn-primary shadow-sm" (click)="pause()">
        <i class="fa fa-pause"></i>
      </button>
    </ng-template>
    <ng-template #playBtn>
      <button type="button" class="btn btn-primary shadow-sm" (click)="play()">
        <i class="fa fa-play"></i>
      </button>
    </ng-template>
  </div>
</div>
