<h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<img src="images/angular.png" height="100" example-directive />
<img src="images/gulp.png" height="100" />
<img src="images/browserify.png" height="100" />

<div class="row" ng-init="home.load()">
	<div class="col-md-12"  ng-repeat="todo in home.todos">
		<button ng-click="home.done(todo.id)" class="btn btn-xs btn-danger">Done</button>
		<input type="text" ng-model="todo.text" ng-keyup="home.update($event, todo)" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="text" ng-model="home.new_todo" ng-keyup="home.add($event)" />
	</div>
</div>