<header class="app-header navbar">
    <br/>
    <!--<button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>
    </ul>
     <ul class="nav navbar-nav ml-auto">
     </ul>-->
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reactivex" routerLinkActive="active"><i class="icon-calculator"></i> ReactiveX </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/googlemap" routerLinkActive="active"><i class="icon-calculator"></i> Google Map </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/exporter" routerLinkActive="active"><i class="icon-calculator"></i> Exporter </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chart" routerLinkActive="active"><i class="icon-calculator"></i> Chart <span class="tag tag-info">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Charts</a>
                </li>
            </ul>
        </nav>
    </div>
        <!-- Main content -->
        <main class="main">
            <div class="container-fluid mt-4">
                <div class="animated fadeIn">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- /.conainer-fluid -->
        </main>
    <aside class="aside-menu"></aside>
</div>
<footer class="footer"></footer>